name: Generate Snake

on:
  schedule: 
    - cron: "0 */24 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Yashveer-12
          outputs: |
            dist/github-contribution-grid-snake-dark.svg

      - name: Push to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          branch: output
          message: "Generate Snake Animation"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
